<!-- start navigation -->
<nav class="navbar navbar-expand-lg header-light bg-white fixed-header" data-header-hover="light">
    <div class="container-fluid">
        <div class="col-auto col-xl-2 col-lg-2 me-lg-0 me-auto">
            <a class="navbar-brand" href="index.html">
                <img src="images/logo.png" alt="" class="default-logo" />
                <img src="images/logo.png" alt="" class="alt-logo" />
                <img src="images/logo.png" alt="" class="mobile-logo" />
            </a>
        </div>
        <div class="col-auto col-xl-8 col-lg-10 menu-order position-static">
            <button class="navbar-toggler float-start" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
                <span class="navbar-toggler-line"></span>
                <span class="navbar-toggler-line"></span>
                <span class="navbar-toggler-line"></span>
                <span class="navbar-toggler-line"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="index.html" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item dropdown dropdown-with-icon-style02">
                        <a href="javascript:;" class="nav-link">Staffarabia</a>
                        <i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false"></i>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a href="about.html">About us</a></li>
                            <li>
                                <a href="membership.html">Memberships & Certificates</a>
                            </li>
                            <li><a href="industry.html">Industries</a></li>
                            <li><a href="news.html">Newsroom</a></li>
                            <li><a href="#">Download our profile</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown dropdown-with-icon-style02">
                        <a href="javascript:;" class="nav-link">Services</a>
                        <i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false"></i>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a href="services.html">Recruitment Services</a></li>
                            <li><a href="services.html">Recruitment Services</a></li>
                            <li><a href="services.html">Recruitment Services</a></li>
                            <li><a href="services.html">Recruitment Services</a></li>
                            <li><a href="services.html">Recruitment Services</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown dropdown-with-icon-style02">
                        <a href="javascript:;" class="nav-link">Careers</a>
                        <i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false"></i>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a href="#">Vacancies</a></li>
                            <li><a href="csr.html">CSR</a></li>
                            <li><a href="careers.html">Submit Your CV</a></li>
                            <li><a href="faqs.html">FAQS</a></li>
                            <li><a href="guide.html">Career Guide</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown dropdown-with-icon-style02">
                        <a href="javascript:;" class="nav-link">Client Section</a>
                        <i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false"></i>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a href="#">Outsource Now</a></li>
                            <li><a href="blog.html">Business Blog</a></li>
                            <li><a href="testimonials.html">Testimonials</a></li>
                            <li><a href="clients.html">Client List</a></li>
                            <li><a href="faqs.html">FAQS</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown dropdown-with-icon-style02">
                        <a href="javascript:;" class="nav-link">EOR</a>
                        <i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false"></i>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a href="country-details.html">Country details </a></li>
                            <li><a href="country-details.html">Country details </a></li>
                            <li><a href="country-details.html">Country details </a></li>
                            <li><a href="country-details.html">Country details </a></li>


                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-auto col-xl-3 col-lg-2 text-start md-pe-0">
            <div class="header-icon">
                <div class="header-button ms-20px d-none d-xl-inline-block">
                    <a href="#"
                        class="btn btn-rounded btn-transparent-light-gray border-1 btn-medium btn-switch-text text-transform-none">
                        <span>
                            <span class="btn-double-text fw-600" data-text="Contact us">Contact us</span>
                            <span><i class="fa-regular fa-envelope"></i></span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- end navigation -->